<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shinchi_apetcareapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ologo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shinchi"
        tools:targetApi="31">
        <activity
            android:name=".unsuccessful_page"
            android:exported="false" />
        <activity
            android:name=".successful_page"
            android:exported="false" />
        <activity
            android:name=".PaymentPage"
            android:exported="false" />
        <activity
            android:name=".AddCart"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".UserDetails"
            android:exported="false" />
        <activity
            android:name=".NavHeaderMainActivity"
            android:exported="false" />
        <activity
            android:name=".Profile_Page"
            android:exported="false" />
        <activity
            android:name=".GroomingCat"
            android:exported="false" />
        <activity
            android:name=".pet_care"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".product_category"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/RazorpayTheme"
            tools:replace="android:exported, android:theme" />
    </application>
</manifest>

